<p id="notice"><%= notice %></p>

<p>
  <strong>Productid:</strong>
  <%= @product.productID %>
</p>

<p>
  <strong>Productname:</strong>
  <%= @product.productName %>
</p>

<p>
  <strong>Productdescription:</strong>
  <%= @product.productDescription %>
</p>

<p>
  <strong>Productprice:</strong>
  <%= @product.productPrice %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
